.introduction {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.introduction h1 {
  font-weight: 500;
  font-size: 28px;
  color: rgb(39, 39, 39);
  text-align: center;
}

.introduction img {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
}

.introduction p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .introduction {
    width: 100%;
  }
  .introduction h1 {
    font-size: 24px;
  }
}
